{% extends "webapp/base.html" %}

{% load static %}

{% block content %}
 <div>
 <h1 style="color:rgb(238, 16, 16) ;">hola estamos ingresando una nueva pag</h1>
 <p  style="color: rgb(255, 123, 0);">YO LA QUIERO MUCHO MAMAI tae repudiandae hic itaque sequi sed corrupti possimus recusandae omnis suscipit harum quia expedita cum optio veritatis reprehenderit rerum qui neque ad, fuga natus. Repellendus tempore vitae dolore similique tenetur architecto, minus corrupti fuga perspiciatis nisi veritatis.</p>
</div>
{% endblock  %}